# Build script
build_script:
  - cmd: powershell -NoProfile -ExecutionPolicy unrestricted -Command .\build.ps1

# Tests
test: off

# Branches to build
branches:
  # Whitelist
  only:
    - develop
    - main
